body {
    background-color: #f9f7f7;
    color: #ffffff;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0px 5vmin;
    height: 100vh;
    font-size: calc(32px + 1vw);
    overflow-y: scroll;
}

header{
    background-image: url("./imgs/playing-card-background.jpeg");
    background-position: contain;
    background-repeat: no-repeat;

    width: 100vw;
    margin-bottom: 2.5%;
}

h1 {
    text-shadow: 4px 2px #311d3f;
    font-size: 1.5em;
    margin: 5vmin;
    text-align: center;
    color: #ffffff;
}

section{
    background-color: #522546;
    border-radius: 16px;
    width: 90vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section ol {
    margin: 0% 5% 5% 5%;
}

section h2{
    font-size: 0.75em;
}

li {
    font-size: 0.5em;
}

hr{
    width: 100%;
    border: 1px solid #311d3f;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    margin-top: 2.5%;
}

/* Formatting for tablet sized devices */
@media screen and (max-width:843px){
    body{
        font-size: 32px;
    }
}